@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

body {

    font-family: 'Kanit', sans-serif !important;
}

.nameProjectEN {
    font-size: 0.85rem !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #E77000 !important;
}

.form-row {
    margin-bottom: 10px !important;
}

@media (min-width: 576px) {
    .content-wrapper {
        min-height: 576px !important;
    }
}


@media (min-width: 768px) {
    .content-wrapper {
        min-height: 768px !important;
    }
}


@media (min-width: 992px) {
    .content-wrapper {
        min-height: 992px !important;
    }
}


@media (min-width: 1200px) {
    .content-wrapper {
        min-height: 1200px !important;
    }
}