@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

body {

    font-family: 'Kanit', sans-serif !important;
}

.nameProjectEN {
    font-size: 0.85rem !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #E77000 !important;
}

.form-row {
    margin-bottom: 10px !important;
}